<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div>
        <a href="/tabs/listmember"
          ><ion-icon name="arrow-back-outline"></ion-icon
        ></a>
      </div>
      <div class="logo">Detail Member</div>
    </div>
  </div>

  <div class="c-top2">
    <div class="content2">
      <div class="logo">
        <b> {{datadetail.nama_member}} </b><br />
        <img src="././assets/img/team-1.jpg" /><br />
      </div>
      <p>{{datadetail.profesi_member}}</p>
      <br />
    </div>
  </div>

  <div class="c-top3"></div>
</ion-content>
