<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div routerLink="/listpromo">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="logo">Detail Promo</div>
    </div>
  </div>

  <div class="c-top2">
    <div class="content2">
      <div class="logo">
        <b>{{datadetail.judul_promo}}</b><br />
        <img
          src="http://elecompindonesia.com/locusid/assets/img/{{datadetail.poster_promo}}"
        /><br />
      </div>
      <p>{{datadetail.deskripsi_promo}}</p>
      <br />
      <h6>
        <b>{{datadetail.tanggal_mulai}} - {{datadetail.tanggal_akhir}}</b>
      </h6>
    </div>
  </div>

  <div class="c-top3"></div>
</ion-content>
