
<ion-content>
  <div class="c-top">
    <div class="c-content"></div>
    <div class="content">
      <div class="logo">Settings</div>
      <div><ion-icon name="alert-circle-outline"></ion-icon></div>
      <!-- <div>
          <ion-searchbar (ionInput)="FilterJSONData($artikel)"></ion-searchbar>
        </div> -->
    </div>
  </div>

  <div class="c-galeri">
    <div class="galeri">
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="././assets/icon/team.jpg" />
          </ion-avatar>
          <ion-label>
            <h2>Locus id Galunggung</h2>
            <p>
              Hai! Saya menggunakan<br />
              WhatsApp
            </p>
          </ion-label>
          <ion-icon name="barcode-outline"></ion-icon>
        </ion-item>
        <br />
    
        <ion-item>
          <ion-icon name="star-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-label>
            <h4>Starred Messages</h4>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="laptop-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-label>
            <h4>WhatsApp Web/Desktop</h4>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
        <br />
    
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-label>
            <h4>Account</h4>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-label>
            <h4>Chats</h4>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="notifications-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-label>
            <h4>Notifications</h4>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon name="analytics-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-label>
            <h4>Data and storage Usage</h4>
          </ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

